/* This file is intended to replace colors-deprecated.css with the ui-refresh */

/* Theme: Classic (default) */
:root {
  --color-layer-0: #050807;
  --color-layer-1: #0e1211;
  --color-layer-2: #050807;
  --color-layer-3: #181e1b;
  --color-layer-4: #252d28;
  --color-layer-5: #353f39;
  --color-layer-6: #56645b;
  --color-layer-7: #76807a;

  --color-border: #353f39;

  --color-text-0: #76807a;
  --color-text-1: #a4a8a6;
  --color-text-2: #ffffff;
  --color-text-button: #000000;

  --color-accent: #c7ff2e60;
}

/* Theme: Light */
:root.theme-light {
  --color-layer-0: #E9ECEE; /* ColorToken.LightGray7; */
  --color-layer-1: #ECEFF1; /* ColorToken.LightGray5; */
  --color-layer-2: #FFFFFF; /* ColorToken.White; */
  --color-layer-3: #F7F8FA; /* ColorToken.LightGray1; */
  --color-layer-4: #FFFFFF; /* ColorToken.White; */
  --color-layer-5: #EDF0F2; /* ColorToken.LightGray4; */
  --color-layer-6: #D5DADF; /* ColorToken.LightGray10; */
  --color-layer-7: #C2CBD3; /* ColorToken.MediumGray1; */

  --color-border: #D1D9E0; /* ColorToken.LightGray11; */

  --color-text-0: #737373; /* ColorToken.DarkGray1; */
  --color-text-1: #4B4B4B; /* ColorToken.DarkGray3; */
  --color-text-2: #181818; /* ColorToken.DarkGray13; */
  --color-text-button: #FFFFFF; /* ColorToken.White; */

  --color-accent: #BCFF2E60; /* ColorToken.Purple0; */
}

/* Theme: Dark */
:root.theme-dark {
  --color-layer-0: #050807;
  --color-layer-1: #0e1211;
  --color-layer-2: #050807;
  --color-layer-3: #181e1b;
  --color-layer-4: #252d28;
  --color-layer-5: #353f39;
  --color-layer-6: #56645b;
  --color-layer-7: #76807a;

  --color-border: #353f39;

  --color-text-0: #76807a;
  --color-text-1: #a4a8a6;
  --color-text-2: #ffffff;
  --color-text-button: #000000;

  --color-accent: #c7ff2e60;
}
