@theme {
  --color-bullish: #c7ff2e;
  --color-bearish: #f76816;
  /* --color-primary: hsl(var(--heroui-primary));
  --color-primary-foreground: hsl(var(--heroui-primary-foreground));
  --color-primary-50: hsl(var(--heroui-primary-50));
  --color-primary-100: hsl(var(--heroui-primary-100));
  --color-primary-200: hsl(var(--heroui-primary-200));
  --color-primary-300: hsl(var(--heroui-primary-300));
  --color-primary-400: hsl(var(--heroui-primary-400));
  --color-primary-500: hsl(var(--heroui-primary-500));
  --color-primary-600: hsl(var(--heroui-primary-600));
  --color-primary-700: hsl(var(--heroui-primary-700));
  --color-primary-800: hsl(var(--heroui-primary-800));
  --color-primary-900: hsl(var(--heroui-primary-900)); */
}
